.clientsContainer {
  font-family: "Tajawal", sans-serif;
  background-color: rgb(228, 228, 228);
  padding: 70px;
  .clients-review {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
      padding: 0px 10px 0px 10px;
      background-color: #fff;
      margin: 10px;
      border-radius: 5px;
      .review {
        width: 43px;
        height: 43px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .clientsContainer {
    .clients-review {
      flex-direction: column;
      .div {
        width: 350px;
      }
    }
  }
}
