.headerContainer {
  font-family: "Tajawal", sans-serif;
  padding: 60px;
  .amjad {
    p {
      width: 400px;
    }
    .amjad-product {
      width: 700px;
      height: 350px;
      border-radius: 10px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
  .amjad-media {
    height: 45px;
    width: 270px;
    margin: 0px 50px 0px 0px;
    transition: all 0.3s ease;
    &:hover{
      transform: translateY(-2px);
      background-color: #260701;
      color: #fff;
    }
  }
  .sallon {
    margin: 0px 20px 0px 20px;
    height: 45px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-2px);
      background-color: #260701;
      color: #fff;
    }
  }
  .close-vedio{
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    &:hover{
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid #260701;
      color: #000;
      font-weight: bolder;
      transform: scale(1.05);
    }
  }
  .reasons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    border: 1px solid lightgrey;
    width: 90%;
    margin: 100px auto;
    p {
      margin-bottom: 0px;
      padding: 0px 10px 0px 10px;
    }
    .reasons__item {
      border-right: 3px solid lightgray;
      margin: 10px;
      &:first-child {
        border-right: none;
      }
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
  .video-container {
    animation: fadeIn 0.3s ease-in;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 50px;
    .amjad {
      flex-direction: column;
      h1,
      p {
        padding-right: 20px;
      }
      p {
        width: 340px;
      }
      .amjad-product {
        width: 350px;
        height: 300px;
        border-radius: 10px;
      }
    }
    .amjad-media {
      margin: 0px 10px 0px 20px;
      height: 50px;
    }

    .sallon {
      margin: 0px 0px 0px 0px;
      height: 50px;
    }
    .reasons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      border: 1px solid lightgrey;
      width: 100%;
      margin: 50px auto;
      font-size: 20px;
      p {
        margin-bottom: 0px;
        padding: 0px 10px 0px 10px;
      }
      .reasons__item {
        border-right: none;
        border-bottom: 1px solid lightgray;
        margin: 10px;
        &:first-child {
          border-right: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
